/* menu section */
nav{
    background-color: #74b9ff;
    height: 50px;
}
.logo img{
    max-width: 50px;
}
nav ul{
    margin-bottom: 0;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    display: block;
    padding: 13px 25px;
    
}
/* banner section */
.banner{
    background-image: url(../images/ricardo-rocha-oA5ROA_2QLg-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner .row h2{
    margin-top: 250px;
    margin-bottom: 30px;

}
.banner .row button{
    margin-bottom: 150px;
}
/* teem section */
.teem{
    background-color: #74b9ff;
    height: 700px;
}
.teem .row{
    
}
.teem .row h1{
    /* display: inline-block; */

}
.teem .member{
    margin-top: 50px;
    

}
.teem .member img{
    max-width: 100%;

}
/* about section */
.about{
    background-color: #1171d1;
}
.about img{
    max-width: 100%;
}
/* footer section */
footer{
    background-color: #74b9ff;
}